<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Lista de usuarios</h1>
    
            <table class="table table-hover table-sm table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre de usuario</th>
                    <th scope="col">Fecha de nacimiento</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Dirección</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let persona of personas; let item=index" >
                    <th scope="row">{{item+1}}</th>
                    <td>{{persona.name}}</td>
                    <td>{{persona.fecha_nacimiento}}</td>
                    <td>{{persona.edad}}</td>
                    <td>{{persona.domicilio+' número exterior:'+persona.numero_exterior+' '+persona.colonia+' '+persona.ciudad+' cp'+persona.cp}}</td>
                  </tr>
                
                </tbody>
              </table>
    
        </div>
    </div>

    
</div>

